<footer class="footer">
  <div class="container footer-container">
    <div class="footer-subcontainer">
      <div class="footer-logo-container">
        <a href="../index.html" class="footer-logo-link">
          <svg class="footer-logo-mobile" width="168" height="16">
            <use href="./img/icons.svg#icon-logo-mob"></use>
          </svg>
          <svg class="footer-logo" width="194" height="18">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-logo-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>

      <div class="footer-nav-container">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item"><a href="#howitworks">How it works</a></li>
            <li class="footer-nav-item"><a href="#vegetables">Vegetables</a></li>
            <li class="footer-nav-item"><a href="#reviews">Reviews</a></li>
          </ul>
        </nav>
        <address class="footer-contacts">
          <ul class="footer-contacts-list">
            <li class="contacts-list-item">
              <a href="tel:+380684439426" class="list-item-link">+380 (68) 443-94-26</a>
            </li>
            <li class="contacts-list-item">
              <a href="https://www.google.com.ua/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%A8%D0%90/@40.7335892,-111.9626616,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?hl=ru&entry=ttu"
                class="list-item-link">1678 S. Pioneer Road Salt Lake City UT 84104</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <div class="footer-copyright-container">
      <div class="copyright-link-container">
        <a href="" class="footer-copyright-link">Privacy Policy</a>
        <span class="footer-copyright-slash">/</span>
        <a href="" class="footer-copyright-link">Cookie settings</a>
      </div>
      <p class="footer-copyright-text">&#169;Green Harvest 2023</p>
    </div>
  </div>
</footer>