<header class="header">
  <div class="container header-container">

    <div class="header-logo">
      <a href="./index.html" class="logo">
        <svg width="168" height="16">
          <use href="./img/icons.svg#icon-logo-mob"></use>
        </svg>
      </a>

    </div>
    <div class="header-wrap">
      <nav class="navigation">
        <ul class="header-button-list">
          <li class="menu-list">
            <a class="menu-link" href="#howitworks">How It Works</a>
          </li>
          <li class="menu-list">
            <a class="menu-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="menu-list">
            <a class="menu-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header-button-last">SHOP NOW</button>

      <button type="button" class="open-modal-button">
        <svg width="32" height="32">
          <use href="./img/icons.svg#icon-list"></use>
        </svg>
      </button>

    </div>
  </div>

  <div class="menu-overlay">
    <div class="menu">
      <button type="button" class="menu-close-button">
        <svg class="menu-close-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="menu-navigation">
        <ul class="menu-modal-list">
          <li class="menu-modal-item current">
            <a class="menu-modal-link current" href="#howitworks">How It Works</a>
          </li>
          <li class="menu-modal-item">
            <a class="menu-modal-link" href="#vegetables">Vegetables</a>
          </li>
          <li class="menu-modal-item">
            <a class="menu-modal-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="menu-order-button">Shop now</button>
    </div>
  </div>

</header>