<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/reset.css" />
  </head>
  <body>
    <section class="hero">
      <div class="container hero-container">
          <h1 class="hero-title">organic vegetables to your diet today!</h1>
          <p class="hero-text">
            Our expertly curated vegetable baskets are made with the<br class="br" /> freshest,
            highest quality vegetables available. Fresh Harvest Box has got you
            covered. Fresh, high-quality vegetables in expertly curated
            vegetable baskets delivered to you.
          </p>
      </div>
    </section>
  </body>
</html>
