<section class="reviews container">
    <div class="reviews-wrap">
        <div class="reviews-title-wrap">
            <h2 class="reviews-title">reviews from our <span class="customers">customers</span> </h2>
            <p class="reviews-text">
                Words of our customers: impressions and opinions about the quality of our services and the freshness
                of
                our
                products.
            </p>
        </div>
        <ul class="reviews-list">

            <li class="reviews-item">
                <div class="reviews-item-wrap item-1">
                    <img class="reviews-img" src="../img/reviews/john-wax.jpg" alt="John Wax">

                    <div class="reviews-review-wrap">
                        <h3 class="reviews-name">John Wax</h3>
                        <p class="reviews-review">These vegetables are my secret to delicious and healthy meals.
                            The
                            quality
                            is
                            always at the highest
                            level, the aroma and
                            taste are enchanting. I advise every fan of real products!</p>
                    </div>
                </div>
            </li>





            <li class="reviews-item">
                <div class="reviews-item-wrap item-2">


                    <img class="reviews-img" src="../img/reviews/victoria.jpg" alt="Victoria Romashenko">
                    <div class="reviews-review-wrap">
                        <h3 class="reviews-name">Victoria Romashenko</h3>

                        <p class="reviews-review">I love how fast and fresh the vegetables are delivered. Salads
                            always
                            turn
                            out
                            so appetizing, and
                            soups are real
                            masterpieces. The quality is impeccable!</p>
                    </div>
                </div>
            </li>






            <li class="reviews-item">
                <div class="reviews-item-wrap item-3">
                    <img class="reviews-img" src="../img/reviews/ihor.jpg" alt="Ihor Trachuk">
                    <div class="reviews-review-wrap">
                        <h3 class="reviews-name">Ihor Trachuk</h3>
                        <p class="reviews-review">Recently tried my fresh tomatoes and peppers - amazing! The
                            authenticity
                            of
                            the taste, as if from the garden directly to
                            my table. It is now my main vegetable supplier.</p>
                    </div>
                </div>
            </li>



        </ul>

    </div>
</section>