<section class="vegetables" id="vegetables">

    <div class="vegetables-wrap container">

        <!-- Section title with primary and secondary parts -->

        <div class="vegetables-title-wrap">

            <h3 class="vegetables-title">Organic <span class="vegetables-title-item">Vegetables</span></h3>

            <p class="vegetables-title-descr">Our organic vegetables are hand-picked from local farms and delivered
                straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>

        </div>

        <!-- List of product cards -->
        <ul class="vegetables-list">

            <li class="vegetables-list-item">

                <div class="vegetables-card">

                    <div class="vegetables-card-content">
                        <h3 class="vegetables-item-title">
                            eggplant
                        </h3>
                        <p class="vegetables-item-price">60 UAH / kg</p>
                    </div>

                    <img src="./img/vegetables/eggplant (1)-img.png" alt="Organic eggplant harvested from local farms"
                        class="vegetables-item-img">

                </div>

            </li>

            <li class="vegetables-list-item">

                <div class="vegetables-card">

                    <div class="vegetables-card-content">
                        <h3 class="vegetables-item-title">
                            leek
                        </h3>
                        <p class="vegetables-item-price">50 UAH / kg</p>
                    </div>

                    <img src="./img/vegetables/leek (2)-img.png" alt="Organic leek harvested from local farms"
                        class="vegetables-item-img">

                </div>

            </li>

            <li class="vegetables-list-item">

                <div class="vegetables-card">

                    <div class="vegetables-card-content">
                        <h3 class="vegetables-item-title">
                            mushrooms
                        </h3>
                        <p class="vegetables-item-price">40 UAH / kg</p>
                    </div>

                    <img src="./img/vegetables/mushrooms (3)-img.png" alt="Organic mushrooms harvested from local farms"
                        class="vegetables-item-img">

                </div>

            </li>

            <li class="vegetables-list-item">

                <div class="vegetables-card">

                    <div class="vegetables-card-content">

                        <h3 class="vegetables-item-title">
                            corn
                        </h3>
                        <p class="vegetables-item-price">60 UAH / kg</p>

                    </div>

                    <img src="./img/vegetables/corn (4)-img.png" alt="Organic corn harvested from local farms"
                        class="vegetables-item-img">

                </div>

            </li>

            <li class="vegetables-list-item">

                <div class="vegetables-card">

                    <div class="vegetables-card-content">

                        <h3 class="vegetables-item-title">
                            sweet potatoes
                        </h3>
                        <p class="vegetables-item-price">50 UAH / kg</p>

                    </div>

                    <img src="./img/vegetables/sweet-potatoes (5)-img.png"
                        alt="Organic sweet potatoes harvested from local farms" class="vegetables-item-img">

                </div>

            </li>

            <li class="vegetables-list-item">

                <div class="vegetables-card">

                    <div class="vegetables-card-content">

                        <h3 class="vegetables-item-title">
                            carrot
                        </h3>
                        <p class="vegetables-item-price">40 UAH / kg</p>

                    </div>

                    <img src="./img/vegetables/carrot (6)-img.png" alt="Organic carrot harvested from local farms"
                        class="vegetables-item-img">

                </div>

            </li>
        </ul>
    </div>

</section>