<section class="your-order">
    <div class="your-order-text">
        <h2 class="your-order-title">Fresh <span class="your-order-span">Harvest </span>Box has got you covered</h2>
        <p class="your-order-p">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking
            to eat healthier or
            support local
            farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    </div>

    <div class="your-order-formbox">
        <form class="your-order-form">

        </form>

    </div>

    <div class="your-order-soc">
        <img class="your-order-img" src="./img/your-order/your-order-mob.jpg" alt="juice in botle">
        <p class="soc-title">Follow us on our social networks:</p>
        <ul class="soc-list">
            <li class="soc-item">
                <a class="soc-linc" href="https://www.instagram.com/goitclub/">
                    <p class="soc-text">instagram</p>
                </a>
            </li>
            <li class="soc-item">
                <p class="soc-text">/</p>
            </li>
            <li class="soc-item">
                <a class="soc-linc" href="https://www.facebook.com/goITclub/">
                    <p class="soc-text">facebook</p>
                </a>
            </li>
            <li class="soc-item">
                <p class="soc-text">/</p>
            </li>
            <li class="soc-item">
                <a class="soc-linc" href="https://www.youtube.com/c/GoIT">
                    <p class="soc-text">youtube</p>
                </a>
            </li>

        </ul>
    </div>

</section>