body {
  font-family: 'Inter Tight', sans-serif;
}

.container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.hero {
  position: relative;
  height: 812px;
  max-width: 375px;
  padding-top: 100px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(../img/hero/hero-mob.jpg);
  background-color: #576f35;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-mob-2x.jpg);
  }
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  width: 335px;
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  width: 335px;
}

.br {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .hero {
    max-width: 768px;
    height: 1024px;
    padding-top: 122px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-tab.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero/hero-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 76px;
    width: 704px;
    margin-bottom: 25px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    width: 603px;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .hero {
    padding-top: 238px;
    max-width: 1280px;
    height: 800px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(../img/hero/hero-desk.jpg);
    background-position: right;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(../img/hero/hero-desk-2x.jpg);
    }
  }
  .hero-title {
    width: 502px;
    height: 304px;
    margin-bottom: 128px;
  }

  .hero-text {
    display: block;
    margin-right: 30px;
    max-width: 472px;
    height: 80px;
  }

  .hero-container {
    padding: 0px 0px 50px 0px;
    max-width: 502px;
    height: 562px;
    margin: 0px 28px 0 100px;
  }

  .br {
    display: block;
  }
}

