/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body {
  font-family: 'Inter Tight', sans-serif;

  font-optical-sizing: auto;

  font-style: normal;
}

.container {
  max-width: 375px;
  padding: 80px 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 100px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 100px;
  }
}
