.vegetables {
  background-color: #7a3145;
}

/* .container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
} */

.vegetables-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding: 80px 20px;
  width: 375px;
}

.vegetables-title-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.vegetables-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.vegetables-title {
  width: 335px;
  color: #fbfbfb;
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.vegetables-title-item {
  color: #fbfbfb4d;
}

.vegetables-title-descr {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.vegetables-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.vegetables-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding: 32px 26px;
  gap: 20px;
  border-radius: 40px;
  background: #fbfbfb;
}

.vegetables-item-img {
  display: block;
  max-width: 100%;
  justify-content: center;
}

.vegetables-card-content {
  gap: 12px;
}

.vegetables-item-title {
  color: #7a3145;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.015em;
  text-align: left;
  margin-bottom: 12px;
}

.vegetables-item-price {
  color: #141414;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.015em;
  text-align: left;
}

.products-item-img {
  max-width: 100%;
  height: 243px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  /* .container {
    max-width: 768px;
    padding: 32px;
  } */

  .vegetables-list {
    justify-content: flex-start;
    flex-direction: row;
    gap: 28px 20px;
  }

  .vegetables-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  .vegetables-wrap {
    gap: 20px 28px;
    width: 768px;
  }

  .vegetables-title {
    line-height: 64px;
    width: 508px;
    font-size: 64px;
    margin-bottom: 50px;
  }

  .vegetables-title-descr {
    width: 626px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .vegetables-card {
    padding: 32px 30px;
  }

  .vegetables-item-title {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (min-width: 1280px) {
  /* .container {
    max-width: 1280px;
    padding: 0 100px;
  } */

  .vegetables-wrap {
    width: 1280px;
  }

  .vegetables-title {
    margin-bottom: 25px;
  }
}
