form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.your-order {
  background-color: #7a3145;
  padding: 80px 20px;
}

.your-order-text {
  padding: 0 20px;
  margin: 0 auto;
}

.your-order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-bottom: 25px;
}

.your-order-span {
  color: rgba(251, 251, 251, 0.3);
}

.your-order-p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
  margin-bottom: 40px;
}

@media screen and (min-width: 375px) {
  .your-order-text {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .your-order {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .your-order-text {
    max-width: 768px;
  }
  .your-order-title {
    margin-bottom: 25px;
    font-size: 64px;
  }
  .your-order-p {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }
}

/* form */
.your-order-formbox {
  border-radius: 30px;
  margin-bottom: 20px;
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 335px;
}

.your-order-form {
  padding: 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

.order-form-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  color: #141414;
  margin-bottom: 50px;
}

.order-form-title .span-first-item {
  color: #7a3145;
}

.order-form-title .span-second-item {
  color: #576f35;
}

.form-label {
  display: block;
  margin-bottom: 15px;
}

.taxtarea-label {
  display: block;
  margin-bottom: 20px;
}

.input-field {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding: 14px 16px;
  width: 100%;
  outline: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
}

.input-field:focus,
.input-field:hover {
  border-color: #7a3145;
}

.input-field:valid {
  border-color: #3cbc81;
}

.input-field:invalid {
  border-color: #e74a3b;
}

.comment-field {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  padding: 14px 16px;
  width: 100%;
  height: 91px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #141414;
}

.comment-field:focus,
.comment-field:hover {
  border-color: #7a3145;
}

.order-btn {
  border: none;
  width: 100%;
  padding: 16px;
  background-color: #576f35;
  color: #fbfbfb;
  transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:focus,
.order-btn:hover {
  box-shadow: 1px 6px 36px 6px rgba(37, 71, 6, 0.1);
  background-color: #344f33;
}

.button {
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .your-order-formbox {
    padding-left: 54px;
    padding-right: 54px;
    width: 628px;
    height: 534px;
    margin-left: auto;
    margin-right: auto;
  }

  .your-order-form {
    padding: 50px 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .order-form-title {
    max-width: 428px;
    margin-bottom: 50px;
  }
  .taxtarea-label {
    margin-bottom: 25px;
  }
  .order-btn {
    padding: 16px 191px;
    width: 428px;
    height: 52px;
  }
}
/* form */
.your-order-soc {
  border-radius: 30px;
  padding: 40px 20px;
  background: #576f35;
  display: flex;
  justify-content: center;
  max-width: 335px;
  gap: 20px;

  /* flex-direction: column; */
}
.picture-order {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
}

.your-order-img {
  border-radius: 15px;
  width: 295px;
  height: 273px;

  color: rgba(20, 20, 20, 0.3);
  margin-bottom: 20px;
}

.soc-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(251, 251, 251, 0.5);
  letter-spacing: -0.01em;
  margin-bottom: 14px;
}

.soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.soc-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
@media screen and (min-width: 768px) {
  .your-order-soc {
    padding: 50px;
    margin: 0 auto;
    width: 599px;
    height: 476px;
  }
  .your-order-img {
    border-radius: 15px;
    width: 528px;
    height: 273px;

    color: rgba(20, 20, 20, 0.3);
    margin-bottom: 20px;
  }
  .picture-order {
    margin-bottom: 50px;
  }
  .soc-title {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 15px;
  }
  .soc-list {
    gap: 12px;
  }
  .picture-order {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .your-order-formbox {
    flex-direction: row;
    gap: 24px;
    padding: 0;
  }
  .your-order-text {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .your-order-title {
    max-width: 751px;
  }
  .your-order-p {
    max-width: 751px;
  }
  .your-order-form {
    padding: 50px;
  }
}
